header {
  border: solid 1px lightblue;
  font-family: 'Merriweather', serif;
  display: flex;
  justify-content: center;
}

img {
  display: block;
  margin: auto;
  max-width: 75%;
  max-height: 75%;
}

.sold-out {
  position: absolute;
  z-index: 2;
  top: 5em;
  left: 3em;
}

.brown-bear {
  max-width: 57%;
  max-height: 57%;
}

.brown-bear-title {
  font-size: 115%;
  padding: 8px 0px;
}

.card-text {
  font-family: 'Merriweather', serif;
}

h3 {
  background-color: grey;
  color: yellow;
}

ul {
  font-weight: bold;
  list-style-type: none;
}
